---

import Layout from '../layouts/Layout.astro';


---

<Layout title="Dublin Culture Hub">
<div class="container d-flex justify-content-center mt-5">
<div class="card mb-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/Astro-Bootstrap-Final-Project-UCD/img/about.png" class="img-fluid rounded-start" alt="multicolor instruments">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">About us</h1>
        <p class="card-text">Welcome to Dublin Culture Hub! Our mission is to provide locals and visitors with 
          the latest information on events, concerts, festivals, and free activities happening around the city. 
          We believe that culture is the heartbeat of Dublin, and we are passionate about promoting the rich and 
          diverse cultural heritage that our city has to offer. At Dublin Culture Hub, our vision is to create a 
          community where people can discover and engage with the cultural experiences that make Dublin unique. 
          Whether you're interested in music, art or theatre we aim to be your go-to source for all cultural events 
          and happenings in Dublin!</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>
</div>

</Layout>


<style>

            
            
.card {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}

h1 {
    color: white;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    align-content: center;
    text-align: center;

    
}

p {
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    color: white;
    text-align: justify;
    margin: 8%;

}
  
</style>
