---

import Layout from '../layouts/Layout.astro';


---

<Layout title="Dublin Culture Hub">

<div class="card mb-3" style="max-width">
   <div class="row g-0">
     <div class="col-md-4">
       <img src="/public/img/about.png" class="img-fluid rounded-start" alt="Multicolor instrument image">
     </div>
     <div class="col-md-8">
       <div class="card-body">
         <h5 class="card-title">About us</h5>
         <p class="card-text">Welcome to Dublin Culture Hub! Our mission is to provide locals and visitors with 
            the latest information on events, concerts, festivals, and free activities happening around the city. 
            We believe that culture is the heartbeat of Dublin, and we are passionate about promoting the rich and 
            diverse cultural heritage that our city has to offer. At Dublin Culture Hub, our vision is to create a 
            ommunity where people can discover and engage with the cultural experiences that make Dublin unique. 
            Whether you're interested in music, art or theatre we aim to be your go-to source for all cultural events 
            and happenings in Dublin.</p>
       </div>
     </div>
   </div>
 </div>

</Layout>


<style>

  .card {
  border: none;
  }
  
  .card-title {
    color: white;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    align-content: center;
    text-align: center;

    
  }

  .card-text {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: white;
    text-align: justify;
    margin: 13%;

  }
  .img-fluid {
    margin-left:40px;
  }
</style>
