---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Dublin Culture Hub - Free Events">
<!--Main section for the caroussel-->
    <section>
<!--Container for responsive design-->      
    <div class="container">
<!--bootstrap carousel component-->      
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
<!--first carousel image-->            
            <img src="/Astro-Bootstrap-Final-Project-UCD/img/culturenight2.png" class="d-block w-100" alt="event main image">
          </div>
          <div class="carousel-item">
            <img src="/Astro-Bootstrap-Final-Project-UCD/img/culturenight1.jpg" class="d-block w-100" alt="">
          </div>
          <div class="carousel-item">
            <img src="/Astro-Bootstrap-Final-Project-UCD/img/culturenight3.png" class="d-block w-100" alt="...">
          </div>
        </div>
<!--button-previous control-->        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
<!--next control button-->        
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</section>

<!--new section added for the first event information-->
<section>
<!--Container for responsive design--> 
    <div class="container">
<!--card component to organize the content-->
        <div class="card">
            <div class="card-body text-center">
<!--Main title for the first event-->              
              <h1 class="card-title">CULTURE NIGHT 2024</h1>
<!--Paragraph with some information about the event. Margins and paddings defineded on the class-->              
              <p class="card-text mx-5 my-4">The nineteenth edition of Culture Night will take place on Friday 20 September 2024. Culture Night / Oíche Chultúir is brought 
                to you by the Arts Council; it is a national moment, celebrating culture, creativity and the arts and seeks to actively promote the belief 
                that this rich and varied culture is alive, treasured and nurtured in people's lives, today and every day. It is delivered nationwide in cities,
                towns,villages and rural locations as well as online and through our media partners.<br><br>1,205,834  people engaged with 1,700 Culture Night events in 2023.
                <br><br>On September 20th 2024 doors will open later and special and unique events will be specifically programmed at participating locations and, 
                thanks to the continued support of the Arts Council and Local Authorities across the island of Ireland, all activities will be available to the public
                free of charge.</p>
            </div>
<!--List to show information about the event. Bold style and margins defined inline-->            
            <ul class="list-group list-group-flush fw-bolder mx-5">
              <li class="list-group-item">Save the date: 20 Sept 2024 </li>
              <li class="list-group-item">Event Spot: Various Locations </li>
              <li class="list-group-item">Timing: 4pm</li>
            </ul>
            <div class="card-body text-center">
<!--Button linking the event page-->              
              <a href="https://culturenight.ie" class="btn btn-light">Visit website</a>
            </div>
          </div>
        </div>

</section>

<section>
    <div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/Astro-Bootstrap-Final-Project-UCD/img/art&outdoors.jpg" class="d-block w-100" alt="event main image">
          </div>
</section>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
              <h1 class="card-title">ART & the outdoors 2024</h1>
              <p class="card-text mx-5 my-4">Art and the Outdoors is inspired by artists who moved out of their studio to paint en plein
              air or out of doors. This free family-friendly programme includes artist-led outdoor drawing, printmaking, pop up  art workshops, 
              street art with Jess Tobin aka Novice, live music, poetry, street spectacle, face painting, magician, quiet and sensory spaces and more!  </p>
            </div>
            <ul class="list-group list-group-flush fw-bolder mx-5">
                <li class="list-group-item">Save the date: Sat 3 Aug - Sun 4 Aug 2024 </li>
                <li class="list-group-item">Event Spot: Hugh Lane Gallery </li>
                <li class="list-group-item">Timing: 12-4pm</li>
            </ul>
            <div class="card-body text-center">
              <a href="https://hughlane.ie/explore_learn/art-and-the-outdoors-2024/" class="btn btn-light">Visit website</a>
            </div>
          </div>
        </div>
</section>

<section>
  <div class="container">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/Astro-Bootstrap-Final-Project-UCD/img/smithfield-Fleadh24.jpg" class="d-block w-100" alt="event main image">
        </div>
</section>
<section>
  <div class="container">
      <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title">SMITHFIELD FLEADH</h1>
            <p class="card-text mx-5 my-4">Dublin City Council is delighted to announce the much-anticipated return of the two-day 
            Irish traditional music festival, 'Dublin City Council Smithfield Fleadh', this August.<br><br>
            Building on the success of the last two years', the programme showcases the vibrancy of traditional Irish music in modern 
            Ireland with internationally recognised artists and grassroots artists alike.This year will see more opportunities for 
            attendees to engage with the artists through sessions, workshops and céilís for all the family to enjoy!<br><br>
            <strong>On Saturday</strong>, the much beloved Gaylí debuts at the Smithfield Fleadh, a great way to get up and dancing for 
            all the family. The day finishes with a stellar performance by Paddy Keenan of The Bothy Band alongside Aoife Ní Bhriain, 
            Daoirí Farrell, and Eoghan Ó Ceannabháin headlining the Main Stage.<br><br>
            <strong>On Sunday</strong>, the crowd-favorite Fingal Mummers make their annual return to Smithfield. Get ready to step 
            lively again with and friends. To close the festival with a bang, the legendary Frankie Gavin and Dé Dannan bring their 
            high-energy performance to the Main Stage.<br><br>The Cobblestone Tent, curated by musicians of The Cobblestone Pub in Smithfield,
            returns for both days of the event. Also returning is An Staítín Fánach, providing a platform for young musicians to showcase their 
            talent. An Puball Éigse makes another appearance, offering harp and bodhrán workshops alongside a performance from Ceol Connected 
            and a special ITMA conversation featuring Caitlín Nic Gabhann and Ciarán Ó Maonaigh.<br><br>The Lord Mayor of Dublin, James Geoghegan
            said, “I'm delighted to see the return of the Dublin City Council Smithfield Fleadh this year. This year's festival is a fantastic 
            opportunity for families to experience the joy of Irish traditional music completely free of charge. With engaging workshops, lively 
            sessions, and energetic performances throughout the weekend, there's something for everyone to enjoy and create lasting memories in the 
            heart of Smithfield Square.” This event is organised by Dublin City Council.</p>
          </div>
          <ul class="list-group list-group-flush fw-bolder mx-5">
              <li class="list-group-item">Save the date: 24 Aug - 25 Aug 2024 </li>
              <li class="list-group-item">Event Spot: Smithfield Square </li>
              <li class="list-group-item">Timing: 12 - 6pm</li>
          </ul>
          <div class="card-body text-center">
            <a href="https://www.dublincity.ie/news/dublin-city-council-smithfield-fleadh-returns-smithfield-square" class="btn btn-light">Visit website</a>
          </div>
        </div>
      </div>
</section>

<section>
  <div class="container">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/Astro-Bootstrap-Final-Project-UCD/img/oconnell.jpg" class="d-block w-100" alt="event main image">
        </div>
</section>
<section>
  <div class="container">
      <div class="card">
          <div class="card-body text-center">
            <h1 class="card-title">DUBLIN FESTIVAL OF HISTORY</h1>
            <p class="card-text mx-5 my-4">The Dublin Festival of History will run from 27 September to 13 October 2024, with our 
            Big Weekend at the Printworks, Dublin Castle from Friday 27 September to Sunday 29 September.<br><br>
            The Dublin Festival of History is an annual free festival, brought to you by Dublin City Council, and organised by 
            Dublin City Libraries, in partnership with the Dublin City Council Culture Company.<br><br>
            Now in its twelfth year, the festival has built a reputation for shining a fresh perspective on history and its 
            importance in our everyday lives, attracting best-selling Irish and international historians to Dublin for a high-profile 
            programme of history talks and debate each Autumn.
          </div>
          <ul class="list-group list-group-flush fw-bolder mx-5">
              <li class="list-group-item">Save the date: 27 Sept - 13 Oct 2024 </li>
              <li class="list-group-item">Event Spot: Dublin Castle</li>
              <li class="list-group-item">Timing: Varies</li>
          </ul>
          <div class="card-body text-center">
            <a href="https://dublinfestivalofhistory.ie" class="btn btn-light">Visit website</a>
          </div>
        </div>
      </div>
</section>




</Layout>

<style>

.card {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    

}


p {
    
    text-align: justify;
    font-size: 1.5rem;

}

.list-group {
   
    text-align:start;
    font-size:1.2rem;
    border: none;
    


}


</style>