---
---
<section>
    <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
      <div class="card" style="width: 10rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 10rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 10rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      </div>
    </div>
    </div>
</div>
  </section>

  <style>

.container {
  display:grid;
  align-items: center;
  text-align: center;
  grid-template-columns: 200px 200px 200px;
  gap: 20px;
  margin-bottom: 10px;
  
}


  </style>