---

---

<footer>
  <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
      <h5 class="card-title">Dublin Culture Hub</h5>
      <p class="card-text">Find us</p>
  </div>
  <div class="row">
    <div class="col">
        <ul class="nav justify-content-center">
          <li class="links">
            <a class="icon-link icon-link-hover" href="#">
              <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
              Facebook
            </a>
          <li>
            <a class="icon-link icon-link-hover" href="#">
              <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
              Instagram
            </a>
          <li>
            <a class="icon-link icon-link-hover" href="#">
              <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
              Twitter
            </a>
          <li>
            <a class="icon-link icon-link-hover" href="#">
              <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
              YouTube
            </a>
        </ul>  
      </div>
    </div>
  </nav>
</footer>
  
  <style>
  
footer {
      margin: 0;
      padding: 0%;
      

  }
    
 h5 {
  color: white;
  font-size: 1.5rem;

 } 
  
 p {

font-size: 1rem;
color: rgb(219, 209, 209);
 }

 .links {
  color:white
  s
 }
  </style>