
<footer>
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Dublin Culture Hub</h5>
      <p class="card-text">Your ultimate guide to the vibrant cultural scene of Dublin!</p>
      <a href="#" class="btn btn-primary">Terms</a>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
  </div>
  </footer>
  
  <style>
  
footer {
      margin: 0;
      padding: 0%;
   

  }
    
 .card-body {
  color: white;
 } 
  
  </style>