---

---


    <div class="container-fluid">
        <h1 class="main-title">Dublin Culture Hub</h1>
        <h2 class="main-title-desc">Your ultimate guide to the vibrant cultural scene of Dublin!</h2>
    </div>
    <img src="./img/main-img.png" alt="main-image" class="img-fluid" >


<style>

.main-title {
  margin-left: 10%;
  text-align:left;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  
}

.main-title-desc {
  color: rgb(253, 255, 255);
  font-size: 1rem;
  margin-left: 10%;
  margin-top: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(173, 168, 168);
  
  
}

.img-fluid {

  max-width: 65%;
  margin-left: 600px;
  margin-top: 0%;

}


 </style>
   