---



---


    <div class="container-fluid lg">
      <div class="row">
        <div class="col">
        <div class="main-section bg-gradient">
        <h1 class="main-title">Dublin Culture Hub</h1>
        <h2 class="main-title-desc">Your ultimate guide to the vibrant cultural scene of Dublin!</h2>
        </div>
    <div class="main image border-bottom">
        <img src="/Astro-Bootstrap-Final-Project-UCD/img/main-img.png" alt="main-image" class="img-fluid" >
        </div>
      </div>
    </div>
  </div>

<style>


.main-title {
  margin-left: 10%;
  text-align:left;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(253, 252, 252);
  
}

.main-title-desc {
  color: rgb(221, 209, 209);
  font-size: 1.2rem;
  margin-left: 10%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  
  
}

.img-fluid {

  max-width: 65%;
  margin-left: 600px;
  margin-bottom: 50px;

}


 </style>
   