---

---

<section>
    <div class="container">
        <div class="row">
            <img src="/public/img/jambasewhite.png" class="img-logo" alt="Jam Base logo">
        </div>
    </div>
</section>

<style>
    .container {
        background-color:black;
    }

    .row {
       
        justify-content:center;

    }

    .img-logo {
        width: 200px;
        padding: 20px;
    }
</style>