---
---

<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./img/icon.png" alt="icon-navbar" width="30" height="24">
      </a>
    </div>
  </nav>